@model Employee_Leave_Managent.Models.LeaveTypeVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">

<h1>تعديل</h1>
<hr/>
</div>
<div style="position:center;margin-right:480px">

    <div  style="text-align:center">
        <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">الإسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                        <input type="submit" value="حفظ التغييرات" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div class="form-group" style="position:inherit; margin-right:110px; margin-left:500px;">
    <a class="btn btn-warning btn" asp-action="Index">رجوع</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
