@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "المصادقة الثنائية (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>لم يتبق لديك أي رموز استرداد.</strong>
            <p>يجب عليكt <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a> قبل أن تتمكن من تسجيل الدخول باستخدام رمز الاسترداد.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>لديك رمز استرداد واحد متبقي.</strong>
            <p>You can <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>يجب عليك @Model.RecoveryCodesLeft recovery codes left.</strong>
            <p>You should <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">ننسى هذا المتصفح</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Disable 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">إعادة تعيين رموز الاسترداد</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">إضافة تطبيق المصادقة</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">تطبيق مصادقة الإعداد</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">إعادة تعيين تطبيق المصادقة</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}